body {
    font-family: 'Rubik',
        sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.flex_container {
    display: flex;
}

.banner_content {
    width: 50%;
    margin-top: 170px;
}

.banner_content h1 {
    font-size: 54px;
}

.banner_content p {
    margin-top: 40px;
    color: #989898;
}

.btn {
    background: red;
    padding: 15px 35px;
    border-radius: 40px;
    display: inline-block;
    margin-top: 40px;
    color: #fff;
    background-image: linear-gradient(to left, #fd4c2f, #fc8f49);
    box-shadow: 0px 0px 39px 1px rgba(252, 143, 73, 0.44);
}

.banner_content span {
    color: orange;
}

.banner_img {
    width: 50%;
}

.banner_img img {
    width: 100%;
}

/*=================================================
                About Part Start
===================================================*/
.about {
    background: url(../shapes/7.png) no-repeat center;
    background-size: cover;

}

.abt_img_part {
    width: 50%;
}

.abt_img_part img {
    width: 60%;
    margin-top: 60px;
}

.about_content {
    width: 50%;
    margin-top: 150px;
}

.about_content p {
    margin-top: 50px;
    padding-right: 150px;
    color: #989898;
}

.about_content a {
    margin-top: 80px;
}

.content_heading {
    color: #808080;
}

/*=========================================
            Recipi Part Start
===========================================*/
.recipi_heading {
    text-align: center;
    margin-top: 50px;
}

.recipi_content {
    text-align: center;
    padding: 0 200px;
    margin-top: 40px;
}

.recipi_content p {
    color: #808080;
}

.food_item {
    margin-top: 40px;
}

.food_box {
    width: 30%;
    padding: 15px;
    box-shadow: 0px 0px 40px 4px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin: 0 25px;
}

.food_box .box_img img {
    width: 100%;
}

.box_title {
    margin-top: 30px;
}

.recipie_content {
    margin-top: 30px;

}

.recipie_content p {
    line-height: 30px;
}

/*=========================================
             Counter Part Start
===========================================*/